/*-- scss:defaults --*/

/* This must remain at the top of this file.                 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

.clipped {
  clip-path: circle();
}

img.rounded {
  object-fit: cover;
  border-radius: 10% !important;
  height: 300px;
  width: 300px;
}

.figure-caption {
  text-align: center;
  font-size: .8rem;
}

.cell-output {
  background-color: lightgreen;
  border-radius: 4px;
}

.circle-button {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #868;
  padding: 40px;
  width: 120px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  
}