/*-- scss:defaults --*/

.sidebar-title {
  color: #222322;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active{
  font-weight: bold;
}

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

div.sidebar-item-container .active{
  color: #003A70 !important;
}

.sidebar-navigation a:hover{
  color: #E54D23 !important;
}

.nav-link.active {
  background-color: #efc078!important;
}

.footnotes{
  font-size: .9rem;
  color: var(--bs-gray-700);
}

// colours

// main
$primary: #003A70 !default;
$link-color: #003A70;

// sidebar
$sidebar-hl: #E54D23 !default;

// table of contents

$toc-color: #000;
$toc-active-border: #003A70;
$toc-active-background: #EEECEA!default;

// packages
// hex logo
.hex-logo{
  padding-right: 15px; 
  padding-left: 15px;
}

// data in this book
// download buttons
#download-button {
  border-width: 1.5px 1.5px 1.5px 1.5px;
  background-color: #efc078;
  color: #fff;
  border-color: #003A70;
}
