/*-- scss:defaults --*/

.clipped {
  clip-path: circle();
}

img.rounded {
  object-fit: cover;
  border-radius: 10% !important;
  height: 300px;
  width: 300px;
}

.figure-caption {
  text-align: center;
  font-size: .8rem;
}

.cell-output {
  background-color: lightgreen;
  border-radius: 4px;
}

.circle-button {
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  padding: 40px;
  width: 120px;
  height: 120px;
  
}